/*
 * Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --accent-color: hsl(212, 100%, 50%);
  --typography-color: hsl(217, 20%, 51%);
  --icon-color: hsl(217, 35%, 45%);
  --bold-typography-color: hsl(217, 21%, 21%);
  --background-color: hsl(227, 100%, 98%);
  --card-background-color: hsl(0, 0%, 100%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color: hsl(212, 100%, 50%);
    --typography-color: hsl(0, 0%, 100%);
    --icon-color: hsl(0, 0%, 100%);
    --bold-typography-color: hsl(0, 0%, 100%);
    --background-color: hsl(220, 40%, 13%);
    --card-background-color: hsl(222, 41%, 20%);
  }
}

body {
  background-color: var(--background-color);
  color: var(--typography-color);
}